#topNav {
  background: dimgray;
  box-shadow: 0px 1px 10px 10px lightgray;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;  /*  top/bottom | left/right  */
  text-decoration: none;
  transition: color 0.3s ease-in;  /*  property | time | method  */
}
#topNav a:hover {
  color: lime;
}
